
/* --- General --- */

* {
    margin: none;
    padding: none;
}

.main_content {
    margin-top: 1rem;
    padding: 1rem;
}

.document_pages{
    display:none;
}

.primary-background
{
    background: #eee063;
}
