
/* --- General --- */

* {
    margin: none;
    padding: none;
}

body{
    --bs-body-font-size: .8rem !important;
}

#header_main{
    z-index: 1050;
}

#menu_main{
    z-index: 1049;
}

#notifications{
    z-index: 1051;
}

#component_data_read td{
    cursor: pointer;
}