
.primary-background
{
    background-color:#eee063 !important;
}
.primary-border
{
    border-color:#eee063 !important;
}
.primary-color
{
    color:#eee063 !important;
}
.bg-dark{
    background-color: #212529 !important;
}
.bg-light{
    background-color: #f3f3f3 !important;
}

/* --- Buttons and forms --- */

.btn{
    background: none;
    border-color:none;
    color:#333 !important;
}
.btn-primary{
    background: #eee063;
    border-color:#eee063;
    color:#333 !important;
}
.btn-secondary{
    background: #b8b8b8;
    border-color:#b8b8b8;
    color:#333 !important;
}
.btn-secondary:hover{
    background: #9b9b9b;
    color:#333 !important;
}
.btn-outline-primary{
    background: none;
    border-color:#eee063;
    color:#333 !important;
}
.btn-primary:hover{
    background: #cebf3e;
    border-color:#eee063;
}
.btn-primary:focus{
    background: #eee063;
    border-color:#eee063;
}
.btn-ligth{
    background: none;
    border-color:#fff;
    color:#fff !important;
}
.btn-ligth:hover{
    background-color: #eee063;
    color:#333 !important;
}
.btn-dark-static{
    background: none;
    border-color:#333;
    color:#333 !important;
}
/* --- Tables --- */

table tr td,
table tr th{
    padding: 10px 0 10px 0;
}

table tr .dropdown-toggle::after {
    display: none;
}

table tr .dropdown
{
    display: none;
}

table tr:hover .dropdown
{
    display: block;
    margin-top: 0; 
}

table tr .dropdown .dropdown-menu
{
    min-width: 3rem;
}

/* --- Navbar --- */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1.125rem;
    color: #444;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

/* --- Sidebar --- */

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* Nav link */

.nav-link {
    color:#333;
}
.nav-link:hover {
    color:#796e0c;
}
.nav-link.active {
    color:#796e0c;
}
.nav-link.active:hover {
    text-decoration: underline;
    color:#796e0c;
}
.sidebar_menu .nav-link {
    background: none;
    color:#333;
}
.sidebar_menu .nav-link:hover {
    background-color: #d8d8d8;
}
.sidebar_menu .nav-link.active {
    background-color: #eee063;
    color:#333;
    text-decoration: none;
}
